# ignore mat files that get saved by stim code
stimulusCode/*.mat

# also local materials (like temporary downloads, docs)
local_materials/*

# matlab editor backup files
**.m~
**.asv


# mac specific files
**.DS_Store

# local files for ds
/admin
/local
